---
import { Image } from "@astrojs/image/components";
import storyImage from "../../imgs/home/success-story-1.jpg";

const stories = [
  {
    img: storyImage,
    year: "2014",
    name: "Marsha Doran",
    summary:
      "Description area for a quick summary about this recipient, what they were awarded and what they are doing ",
    link: "/link",
  },
  {
    img: storyImage,
    year: "2014",
    name: "Marsha Doran",
    summary:
      "Description area for a quick summary about this recipient, what they were awarded and what they are doing ",
    link: "/link",
  },
  {
    img: storyImage,
    year: "2014",
    name: "Marsha Doran",
    summary:
      "Description area for a quick summary about this recipient, what they were awarded and what they are doing ",
    link: "/link",
  },
];
---

<section class="max-w-7xl mx-auto my-20 px-[5%] xl:px-0 text-textColor">
  <h2 class="font-bold text-3xl text-center lg:text-left">
    Featured Success Stories
  </h2>

  <div
    class="md:inline-flex flex justify-center gap-4 flex-col items-center md:flex-row mt-4 flex-wrap"
  >
    {
      stories.map((story, index) => (
        <div class="max-w-[350px] bg-secondLight rounded">
          <div class="relative">
            <Image
              class="absolute w-full rounded-t h-full object-cover"
              src={story.img}
              alt={`featured story #${index}`}
              width={350}
              height={250}
            />
            <div class="bg-cover pt-40 pb-4 px-4 relative z-10">
              <p class="text-white font-bold text-3xl">{story.name}</p>
            </div>
          </div>

          <div class="p-5">
            <p class="rounded-full px-3 py-1 mt-2 text-white font-bold bg-primary inline-block">
              {story.year}
            </p>
            <p class="mt-3 leading-paragraph">{story.summary}</p>
            <a
              href={story.link}
              class="block font-bold text-sm text-right mt-5 ml-auto"
            >
              Read More
            </a>
          </div>
        </div>
      ))
    }
  </div>
</section>
