---
import { Image } from "@astrojs/image/components";

import Layout from "../layouts/Layout.astro";

import MultilineText from "../components/utility/MultilineText.astro";

import scholarships from "../data/scholarships/scholarships";
---

<Layout
  seo={{
    metaTitle: "Memorial Scholarships | Roxbury Scholarship Foundation",
    metaDescription:
      "Memorial scholarships were created in memory of Roxbury residents that left an impact on their community.",
  }}
>
  <section class="max-w-7xl mx-auto py-20 px-[5%] xl:px-0 text-textColor">
    <h1
      class="lg:text-7xl text-5xl font-bold text-primary text-center lg:text-left"
    >
      Memorial Scholarships
    </h1>

    <div class="mt-10 text-center md:text-left space-y-20">
      {
        scholarships.map((scholarship) => (
          <div class="flex flex-col items-center justify-between space-y-4 lg:flex-row lg:items-start lg:space-y-0 lg:space-x-4 xl:space-x-0">
            <div class="h-[250px] w-[300px] shrink-0 rounded bg-red-300 ">
              {scholarship.img && (
                <Image
                  class="rounded"
                  src={scholarship.img}
                  alt={scholarship.title}
                  width={300}
                  height={250}
                />
              )}
              {!scholarship.img && (
                <Image
                  class="rounded"
                  src={import("@imgs/scholarships/scholarships.png")}
                  alt={scholarship.title}
                  width={300}
                  height={250}
                />
              )}
            </div>
            <div class="shrink lg:max-w-[800px]">
              <p class="text-3xl font-bold uppercase">{scholarship.title}</p>
              <MultilineText
                className="mt-5 leading-relaxed"
                text={scholarship.body}
              />

              <MultilineText
                className="mx-auto mt-2 max-w-sm italic md:mx-0"
                text={scholarship.quote ? scholarship.quote : ""}
              />
            </div>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
